{%extends "registration/base.html"%} {% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content%}

    <div class="container jumbotron" style="width: 380px;" >
        <h2 style="text-align: center;">SIGN UP</h2>
        <!--<img src="/image/unnamed.jpg" alt="igclone">-->

        <!-- Signup Form-->
        <div>

        </div>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'Includes/form.html'%}
            <!--{{ form.as_p}}-->
            <button type="submit" class="bt btn-success" style="margin-left: 6em;">Create Account</button>
        </form>
    </div>
{% endblock %}
