{%extends "registration/base.html"%} {% load bootstrap4 %}
{% block content%}
    <div class="container jumbotron" style="width: 380px;" >
        <h2 style="text-align: center;">SIGN UP</h2>
        <!--<img src="static/image/unnamed.jpg" alt="igclone">-->

        <!-- Signup Form-->
        <div>

        </div>
        <form method="post" novalidate>
            {% csrf_token%}
            {{ form.as_p}}
            <button type="submit" class="bt btn-primary" style="text-align: center;">Create Account</button>
        </form>
    </div>
{% endblock %}
