<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROFILE</title>
</head>
<body>

    {% block content %}

    <div class="container">

        <div class="row">
            {% for image in images%}
            <div class="col-md-12" style="margin-top: 2em;">
                <div class="card" style="margin-bottom: 2em; width: 600px; position: relative; left: 25%;">
                    <div class="card-header">{{image.user}}</div>
                    <img class="card-img-top" style="height: 500px;" src="{{ image.image.url }}" alt="card image cap">
                    <div class="card-body" style="position: relative; left: 25%;">
                        <h4 class="card-title">{{image.image_name}}</h4>
                        <p class="card-text">{{image.caption}}</p>
                        {% for comment in image.comment_set.all %}
                            <li>
                                {{comment.user.username}}
                                {{comment.comment}}
                            </li>

                        {% endfor%}
                        <form action="{% url 'comment' image_id=image.id %}"  enctype="multipart/form-data" novalidate method="post">
                            {% csrf_token %}
                            <input class="add-comment" name="comment" id="comment{{image.id}}" type="text" placeholder="Comment on this image....">
                            <button type="submit" class="btn btn-success" style="margin-left: 0em;">comment</button>
                        </form>
                    </div>
                </div>
            </div>
             {% endfor%}
        </div>
    </div>
    {% endblock %}
</body>
</html>
