<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROFILE</title>
</head>
<body>

    {% block content %}
    <div>
        <div class="row container jumbotron" style="width: 700px; margin-left: 20em;">
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Name: {{user.username}}</h5>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">Email: {{user.email}}</h5>
                    <h5 class="card-title">Bio:   {{profile.Bio}}</h5>
                    <h5 class="card-title">Phone: {{profile.phone_number}}</h5>
                    <h5 class="card-title">Location: {{profile.location}}</h5>
                    <a class="nav-link btn btn-success" href="{% url 'edit_profile' %}" style="width: 110px; margin-left: 8em; text-align: center;">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}



</body>
</html>