<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        UPLOADCARE_PUBLIC_KEY ='1c8522c5f21d2ecc449a';
    </script>
    <script charset="utf-8" src="https://ucarecdn.com/libs/widget/3.6.1/uploadcare.full.min.js"></script>
</head>
<body>

    {% block content %}
    <div>
        <div class="row container jumbotron" style="width: 700px; margin-left: 20em;">
            <div class="col-md-4">
                <img class="card-img-top" src="{{user.userprofile.avatar}}" alt="card image cap">
                <div class="card-body">
                    <h5 class="card-title">Name: {{user.username}}</h5>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body" style="text-align: center;">
                    <h5 class="card-title">Email: {{user.email}}</h5>
                    <h5 class="card-title">Bio:   {{user.userprofile.bio}}</h5>
                    <h5 class="card-title">Phone: {{user.userprofile.phone_number}}</h5>
                    <h5 class="card-title">Location: {{user.userprofile.location}}</h5>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}



</body>
</html>